.footer{

background:#111827;

color:white;

padding:35px 50px 15px;

margin-top:auto;

}



.footer-content{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

gap:30px;

}



.footer h2{

color:#60a5fa;

}



.footer p{

margin-top:10px;

color:#ffffff;

font-size:18px;

font-weight:700;

text-align:center;

}



.footer-links{

display:flex;

gap:25px;

}



.footer-links a{

color:#d1d5db;

text-decoration:none;

transition:0.3s;

}



.footer-links a:hover{

color:white;

transform:translateY(-4px);

}




.footer-bottom{

text-align:center;

margin-top:30px;

padding-top:15px;

border-top:1px solid #374151;

color:#9ca3af;

}



/* mobile */

@media(max-width:700px){


.footer-content{

flex-direction:column;

text-align:center;

}


.footer-links{

flex-direction:column;

}


}
