.navbar{

height:90px;

padding:0 80px;

display:flex;

align-items:center;

justify-content:space-between;

background:#0f172a;

box-shadow:
0 8px 30px rgba(0,0,0,0.25);

position:sticky;

top:0;

z-index:100;

}



/* Logo */


.logo{

font-size:30px;

font-weight:800;

color:white;

letter-spacing:1px;

display:flex;

align-items:center;

gap:10px;

cursor:pointer;

transition:0.3s;

}



.logo:hover{

transform:scale(1.08);

color:#38bdf8;

}





/* Links */


.nav-links{

display:flex;

align-items:center;

gap:55px;

}



.nav-links a{

position:relative;

text-decoration:none;

color:#e5e7eb;

font-size:16px;

font-weight:600;

transition:0.3s;

}




/* underline animation */


.nav-links a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

width:0%;

height:3px;

background:#38bdf8;

border-radius:20px;

transition:0.3s;

}



.nav-links a:hover{

color:#38bdf8;

transform:translateY(-4px);

}



.nav-links a:hover::after{

width:100%;

}





/* Register Button */


.register-btn{

background:linear-gradient(
135deg,
#2563eb,
#38bdf8
);

color:white !important;

padding:12px 25px;

border-radius:30px;

box-shadow:
0 8px 20px rgba(56,189,248,0.3);

}



.register-btn:hover{

transform:scale(1.08)!important;

box-shadow:
0 10px 30px rgba(56,189,248,0.5);

}






/* mobile */


@media(max-width:700px){


.navbar{

padding:0 20px;

}


.nav-links{

gap:15px;

}


.logo{

font-size:20px;

}


.nav-links a{

font-size:14px;

}


}
/* Logout Button */


.logout-nav{

background:linear-gradient(
135deg,
#ef4444,
#f97316
);

color:white;

padding:12px 28px;

border:none;

border-radius:30px;

font-size:16px;

font-weight:700;

cursor:pointer;

box-shadow:
0 8px 20px rgba(249,115,22,0.35);

transition:0.3s ease;

}



.logout-nav:hover{

transform:scale(1.08);

box-shadow:
0 10px 30px rgba(249,115,22,0.55);

}
/* Dark Mode Button */


.dark-btn{

height:45px;

width:45px;

border:none;

border-radius:50%;

background:white;

font-size:22px;

cursor:pointer;

display:flex;

align-items:center;

justify-content:center;

box-shadow:
0 8px 20px rgba(0,0,0,0.25);

transition:0.3s ease;

}


.dark-btn:hover{

transform:scale(1.15) rotate(15deg);

box-shadow:
0 12px 30px rgba(168,85,247,0.45);

}
/* Dashboard Button */


.dashboard-btn{

background:none;

border:none;

color:#e5e7eb;

font-size:16px;

font-weight:600;

cursor:pointer;

position:relative;

transition:0.3s;

}



.dashboard-btn:hover{

color:#38bdf8;

transform:translateY(-4px);

}



/* underline animation dashboard */

.dashboard-btn::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

width:0%;

height:3px;

background:#38bdf8;

border-radius:20px;

transition:0.3s;

}



.dashboard-btn:hover::after{

width:100%;

}