.login-page{

min-height:calc(100vh - 90px);

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#faf5ff,
#f5f3ff,
#ffffff
);

padding:60px 0;

}




.login-card{

width:430px;

background:white;

padding:45px;

border-radius:25px;

border:1px solid #eef2f7;

box-shadow:
0 20px 45px rgba(0,0,0,0.12);

animation:slide 0.5s ease;

}





.login-card h1{

font-size:35px;

color:#0f172a;

margin-bottom:10px;

font-weight:800;

letter-spacing:1px;

}





.login-card p{

color:#64748b;

margin-bottom:35px;

font-size:16px;

}





.login-card form{

display:flex;

flex-direction:column;

gap:22px;

}





.login-card input{

height:55px;

padding:0 20px;

border-radius:15px;

border:1px solid #d1d5db;

font-size:16px;

outline:none;

transition:0.3s;

}





.login-card input:focus{

border-color:#a855f7;

box-shadow:
0 0 0 4px rgba(168,85,247,0.15);

}





.login-card button{

height:55px;

border:none;

border-radius:30px;

background:linear-gradient(
135deg,
#7c3aed,
#a855f7
);

color:white;

font-size:18px;

font-weight:700;

cursor:pointer;

box-shadow:
0 10px 25px rgba(168,85,247,0.4);

transition:0.3s;

}





.login-card button:hover{

transform:translateY(-3px);

box-shadow:
0 15px 35px rgba(168,85,247,0.6);

}





@keyframes slide{


from{

opacity:0;

transform:translateY(30px);

}



to{

opacity:1;

transform:translateY(0);

}


}





@media(max-width:600px){


.login-card{

width:85%;

padding:30px;

}


.login-card h1{

font-size:28px;

}


}